.personal-info-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 24px 50px 0 24px;
  background-color: var(--tertiary-color);
  height: 100%;
}
.about-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}
.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.skills-badge {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  /* coloca uma borda no texto */
  border: 1px solid var(--primary-color);
  text-shadow: 0px 0px 30px var(--primary-color);
  padding: 10px;
  width: fit-content;
  display: block;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 700;

  cursor: pointer;
}

.skill-badge-container {
  display: flex;
  align-items: left;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .skill-badge-container {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .skill-badge-container {
    flex-direction: row;
  }
}

.skill-badge-list-container {
  display: flex;
  flex-direction: row;
  align-items: left;
  /* quebra a linha quando tem itens demais */
  flex-wrap: wrap;
}
.badge-item-container {
  width: 100%;
  margin: 5px 8px;
}
.skill-tipe-label {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--septenary-color);
  min-width: 75px;
  /* quebra linha a cada palavra */
  word-break: break-all;
}
@media screen and (max-width: 900px) {
  .profile-picture-container {
    display: none;
  }
  .about-text-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .personal-info-container {
    justify-content: center;
    padding: 0;
  }
}
@media screen and (min-width: 900px) and (max-width: 1300px) {
  .profile-picture-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
  }
  .profile-picture {
    width: 50%;
    height: auto;
  }
  .about-text-container {
    width: 70%;
  }
}
@media screen and (min-width: 1300px) {
  .profile-picture-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
  }
  .profile-picture {
    width: 50%;
    height: auto;
  }
  .about-text-container {
    width: 50%;
  }
}
.image-with-circle-container {
  position: relative;
}
.circle-background {
  position: absolute;
  width: 21vw;
  height: 21vw;
  max-width: 350px;
  max-height: 350px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  top: 55px;
  left: 5vw;
  z-index: 1;
}
.profile-picture {
  position: relative;
  z-index: 5;
  min-width: 450px;
  margin-top: 20px;
}
.description-container {
  /* texto  justificado */
  text-align: justify;
}
.description-text {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--septenary-color);
}
.skill-toggler-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  padding: 1px 6px;
  border-radius: 5px;
}
.skill-toggler-container:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
}
.active-skill-toggle {
  background-color: var(--secondary-color);
}
.skill-list-button {
  /* remove a cor do fundo */
  background-color: transparent;
  /* remove a borda */
  border: none;

  color: var(--quaternary-color);
}
.skill-list-button:hover {
  color: var(--primary-color);
}
