:root {
  --primary-color: #4DBA87;  /* cor verde escuro para elementos de destaque */
  --secondary-color: #212121; /* cor escura para usar em textos e elementos de fundo */
  --tertiary-color: #2d2e32;  /* cor média para textos e elementos de fundo */
  --quaternary-color: #f5f5f5; /* cor clara para textos e elementos de fundo */
  --quinary-color: #e91e63; /* cor rosa escuro para destaques e call-to-actions */
  --senary-color: #ffc107; /* cor amarela para alertas e destaques */
  --septenary-color: #bdbdbd; /* cor cinza médio para elementos de fundo e bordas */
  --octonary-color: #e0e0e0; /* cor cinza claro para elementos de fundo e bordas */
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--secondary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

