.contact-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin: auto;
  color: var(--quaternary-color);
}
.contact-info-row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.contact-info-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0;
  padding: 4px 8px;
}
@media screen and (max-width: 768px) {
  .contact-info-row-container {
    flex-direction: column;
    width: 80%;
  }
}

@media screen and (min-width: 768px) and (max-width: 900px) {
  .contact-info-row-container {
    flex-direction: row;
  }
}
@media screen and (min-width: 900px) {
  .contact-info-row-container {
    flex-direction: row;
    width: 550px;
  }
}
.contact-info-item-logo {
  width: 36px;
  height: fit-content;
  border-radius: 50%;
  margin: 5px 8px;
}

.contact-info-item-logo:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}
.contact-info-item-text {
  /* cursor: pointer; */
}
.text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.text-container:hover {
  /* cursor: pointer; */

  cursor: pointer;
  opacity: 0.8;
}
.text-container:active {
  border: 1px solid var(--quaternary-color);
}
.contact-info-item-clipboard {
  /* cursor: pointer; */
  background-color: var(--quaternary-color);
  width: 16px;
  height: fit-content;
  border-radius: 50%;
  margin: 5px 8px;
  padding: 4px;
}
